<!DOCTYPE html>
<html>


<head>
	<title>User Menu</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<body class="b2">
	<header style=" height: 120px ;font-size:80PX ;margin-left:300px;">
		<Strong style="color: white;text-shadow: 0 8px 16px rgba(255,255,255,0.6);" >Coder's Dashboard</Strong></header>



<button class="btn btn-primary" onclick="myFunction()"  style="background-color: transparent; font-size: 60px ;margin-left:350px;">CHOOSE AN OPTION</button><br>

<div class="container-fluid well" style="background: black">
<div class="row"> 

<div class="dropdown col-lg-3">
  <button class="btn btn-primary" type="button" data-toggle="dropdown" style="width: 100% ;border: 5px">Trainings<span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Machine Learning</a></li>
    <li><a href="#">Web Develepment</a></li>
    <li><a href="#">App develepment</a></li>
  </ul>
  

</div>

<a routerLink="/searchtraining"  class=" col-lg-3 btn btn-primary" style="background-color: transparent; font-size: 20px; margin-left: 0px;margin-right: 50px; width:15%;">Search Trainings</a>
<a routerLink="/userprofile"  class="col-lg-3 btn btn-primary" style="background-color: transparent; font-size: 20px;box-shadow: 0 8px 16px rgba(255,255,255,0.6);  ">User Profile</a>

<a routerLink="/home" class="col-lg-3 btn btn-primary"  style="background-color: transparent; margin-left: 40px;font-size: 20px;">Logout</a>
</div>
<div class="row">

<a routerLink="/currenttraining"  class="col-lg-4 btn btn-primary" style="background-color: transparent; font-size: 20px;  ">Current Trainings</a>
<a routerLink="/usernotification"  class=" col-lg-4 btn btn-primary"  style="background-color: transparent; font-size: 20px; " onclick="alert('No notification');">Notification</a>

<a routerLink="/userpayment"  class=" col-lg-4 btn btn-primary" style="background-color: transparent; font-size: 20px;  ">Completed Trainings</a>
</div>
</div>
<h2 style="color: white; margin-left: 40%;">Payment Page</h2>



<div class="modal-body">
        <table class="table table-striped table-hover table-bordered"  style="width: 80%; margin-left: 10%;">
          <thead>
          <tr class="info">
            <th class="hidden">Id</th>
            <th>Id</th>
            <th>Technology Name</th>
            <th>Mentor Name</th>
            <th>Amount</th>
            <th></th>
           
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of payments"  class="active">
              <td>{{user.id}}</td>
            <td>{{user.techName}}</td>
            <td>{{user.mentorName}}</td>
            <td>{{user.amount}}</td>
            <td><button class="btn btn-primary btn-lg"   (click)="getTrainings(user.trainingId,user.amount,user.id)"  > Proceed To Pay</button></td>
            
           <!-- <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td> -->
          </tr>
          </tbody>
        </table>
      
      </div>
      
      <br><br>
      
      <div *ngIf="showId">      
      <table class="table table-hover table-bordered" style="width: 31%; margin-left: 35%;color:white;">
          <thead>
              <tr>
                  <th class="hidden">Id </th>
                  <th>Mentor Name</th>
                  <th>Fees To Be Paid</th>
                
                  <th></th>
                  
              </tr>
              </thead>
              <tbody>
                  <tr>
                        
                      <td>  {{training.mentor.firstName}}  {{training.mentorlastName}}</td>
                        <td> {{training.fes}} </td>
                      <td> <button type="button" class="btn btn-lg btn-success"  style="width:150px;" (click)="Payfees(training.fees)" > Pay Fees</button></td>
                  
                    </tr>
              </tbody>
      </table>
      </div>
<br><br><br><br><br><br><br><br><br><br>	
<br><br><br><br><br><br><br><br><br><br>	
<br><br><br><br><br><br><br><br><br><br>	
<br><br><br><br><br><br><br><br><br><br>	
</body>
</html>