<!DOCTYPE html>
<html>
<script>
function myFunction() {
  alert("Please Choose From Below Options");
}
</script>

<head>
	<title>Training Search</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<body class="b2">
	<header style="background: url(welcome.jpg); height: 120px ;font-size:80PX; margin-left:400px;">
		<Strong style="color: white;text-shadow: 0 8px 16px rgba(255,255,255,.6); ">Courses</Strong></header>






<div   class="col-lg-4 card text-white bg-primary  " style="border: 50px;padding: 5px ;background-color: transparent; ">
  <div class="card-header">C# </div>
  <div class="card-body">
    <h5 class="card-title">Backend </h5>
    <p class="card-text">1 Months</p>
  </div>
</div>


<div class="col-lg-4  card text-white bg-primary " style="border: 2px;padding: 5px ;background-color: transparent;">
  <div class="card-header">Web develepment</div>
  <div class="card-body">
    <h5 class="card-title">Complete Web develepment</h5>
    <p class="card-text">2 Months</p>
  </div>
</div>
<div  class="col-lg-4 card text-white bg-primary " style="border: 2px;padding: 5px ;background-color: transparent;">
  <div class="card-header ">Java</div>
  <div class="card-body">
    <h5 class="card-title">Frontend Web develepment</h5>
    <p class="card-text">1 Months</p>
  </div>
</div>
<br><br><br><br><br><br><br><br><br>

<div   class="col-lg-4 card text-white bg-primary  " style="border: 50px;padding: 5px ;background-color: transparent; ">
        <div class="card-header">Artificial Intelligence</div>
        <div class="card-body">
          <h5 class="card-title">Backend </h5>
          <p class="card-text">3 Months</p>
        </div>
      </div>
      
      
      <div class="col-lg-4  card text-white bg-primary " style="border: 2px;padding: 5px ;background-color: transparent;">
        <div class="card-header">Python</div>
        <div class="card-body">
          <h5 class="card-title">Complete Web develepment</h5>
          <p class="card-text">1 Months</p>
        </div>
      </div>
      <div  class="col-lg-4 card text-white bg-primary " style="border: 2px;padding: 5px ;background-color: transparent;">
        <div class="card-header ">Machine Learning</div>
        <div class="card-body">
          <h5 class="card-title">Frontend Web develepment</h5>
          <p class="card-text">1 Months</p>
        </div>
      </div>
      
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


</body>
</html>