<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>LEAP CODE</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<body class="b1 bodysize" style="margin-top: 0px; padding: 0px;">
  <div class="container content center padding" style="max-width:800px;margin-left:250px;" id="band" >
    <div class="jumbotron ">
      <h1>Mentor on Demand</h1>
      <p>Think BIG Think On Demand</p>
      </div>
      <p class="w3-justify"> This is a normal web base template made to use for/as hire and offer mentors as a service.
  <br><br><br>
      </p>
      <div class="w3-row w3-padding-32" style="margin-left: 0px;padding: 0px;">
        <div class="w3-third">
            <h3 class="w3-wide" ></h3>
            
          <p></p>
          
        </div>
      
    
      </div>
    </div>
    <br><br><br><br><br>
    <div class="example1">
        <h3>A good student need a best mentor.</h3>
        </div>
    
    <br>
    <br>   
    <br><br><br><br>
    <footer id="mu-footer" role="contentinfo" style="margin-left: 80%">
        <div class="container1">
            <div class="mu-footer-area">
                <div class="mu-footer-top">
                   
                </div>
                <div class="mu-footer-bottom">
                    <p class="mu-copy-right">&copy; Copyright. Nothing reserved.</p>
                </div>
            </div>
        </div>

</footer>  <br>  
  </body>
<router-outlet></router-outlet>
