<body class="b1">
<form class="f1" action="//submit.form" id="ContactUs100" method="post" onsubmit="return ValidateForm(this);">
    <script type="text/javascript">
    function ValidateForm(frm) {
    if (frm.Name.value == "") { alert('Name is required.'); frm.Name.focus(); return false; }
    if (frm.FromEmailAddress.value == "") { alert('Email address is required.'); frm.FromEmailAddress.focus(); return false; }
    if (frm.FromEmailAddress.value.indexOf("@") < 1 || frm.FromEmailAddress.value.indexOf(".") < 1) { alert('Please enter a valid email address.'); frm.FromEmailAddress.focus(); return false; }
    if (frm.Comments.value == "") { alert('Please enter comments or questions.'); frm.Comments.focus(); return false; }
    return true; }
    </script>
    <br><br>
  
       
        <div class="c1" >
            <span class="">
              <h1 style="margin-left:30% "><b> Contact Us</b></h1> 
          
            </span>
          

            <span >
               <h1 style="margin-left:15% "> Feel free to drop us a line below!</h1>
            </span>

        </div>

   <br>
    <table style="width:550px;border:0; margin-left: 25%" cellpadding="8" cellspacing="0">

    
    <tr> <td>
    <label for="Name">Name*:</label>
    </td> <td>
    <input name="Name" type="text" maxlength="60" style="width:250px;background-color: transparent;" />
    </td> </tr> <tr> <td>
    <label for="PhoneNumber">Phone number:</label>
    </td> <td>
    <input name="PhoneNumber" type="text" maxlength="43" style="width:250px;background-color: transparent;" />
    </td> </tr> <tr> <td>
    <label for="FromEmailAddress">Email address*:</label>
    </td> <td>
    <input name="FromEmailAddress" type="text" maxlength="90" style="width:250px;background-color: transparent;" />
    </td> </tr> <tr> <td>
    <label for="Comments">Comments*:</label>
    </td> <td>
    <textarea name="Comments" rows="7" cols="40" style="width:350px;background-color: transparent;"></textarea>
    </td> </tr> <tr> <td>
    * - required fields
    </td> <td>
    
    <input name="skip_Submit" type="submit" value="Submit" style="color: green" />
    
    </td> </tr>
    </table>
    </form><br><br><br><br><br><br><br><br><br><br>
    <br><br><br>
</body>
