.b2{
    background-image:url(/assets/img/welcomebg.jpg) ;
     background-size: cover ;

 }  
.col-lg-3:hover{
  box-shadow: 0 8px 16px rgba(255,255,255,0.2)
}

.col-lg-6:hover{
    box-shadow: 0 8px 16px rgba(255,255,255,0.2)
  }
  