
 .b2{
    background-image:url(/assets/img/welcomebg.jpg) ;
     background-size: cover 

 }  
 .form-group{
      
    color:white;

 }  
 .col-md-12{
    background-image:url(/assets/img/welcomebg.jpg) ;
    

 }  
.jumbotron{
    background-color:transparent;
    margin-left: 550px;
}


