<html>

<head>
	<title>Mentor On Demand</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="b1">
	<header class="h1" >
		<Strong style="color: white;text-shadow: 0 8px 16px rgba(255,255,255,.6); " >Each One...<br> Teach One...</Strong></header>

    <br><br><br><br>
<button class="btn btn-primary" onclick="myFunction()"  style="background-color: transparent; font-size: 30px ;margin-left:300px">Select your option:</button><br>
	<a routerLink="/signupuser"><button class="btn btn-primary" style="margin-left: 130px; background-color: transparent; font-size: 50px;margin-top: 40px">User</button></a>
  <a routerLink="/signupmentor"z class="btn btn-primary" style="margin-left: 170px;background-color: transparent; font-size: 50px; margin-top: 40px">Mentor</a>
  <a routerLink="/signinadmin"z class="btn btn-outline-dark" style="margin-left: 210px;background-color: transparent; font-size: 50px; margin-top: 40px">Admin</a>
  
  <br><br><br><br><br><br>

  <br><br><br><br><br><br>

  
</body>